*~

## generic files to ignore
*.lock
*.DS_Store
*.swp
*.out

# Compiled Object files
*.slo
*.lo
*.o
*.obj

## build dirs
#modules/faceDetector/build*/

#executables
doubleTouchMovementPrimitives/selfTouchPositionControlSequences/selfTouchPosControlSeq
doubleTouchMovementPrimitives/selfTouchPositionControlSequences2/selfTouchPosControlSeq2
doubleTouchMovementPrimitives/selfTouchRightIndexToLeftForearmPositionControlSequence/selfTouchRightIndexToLeftForearmPositionControlSequence

*kdev*

###Cmake files
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt


## others
*~