*~

## generic files to ignore
*.lock
*.DS_Store
*.swp
*.out

# Compiled Object files
*.slo
*.lo
*.o
*.obj


## build dirs
doubleTouchMovementPrimitives/selfTouchPositionControlSequences/build*/
doubleTouchMovementPrimitives/selfTouchPositionControlSequences2/build*/
doubleTouchMovementPrimitives/selfTouchRightIndexToLeftForearmPositionControlSequence/build*/

#executables

#some picture files
matlab/skin/left_palm/*.jpg
matlab/skin/left_palm/*.fig
matlab/skin/left_palm/*.png
matlab/skin/left_palm/*.svg
matlab/skin/right_palm/*.jpg
matlab/skin/right_palm/*.fig
matlab/skin/plotSkinParts2D/*.jpg
matlab/skin/plotSkinParts2D/*.fig
matlab/skin/plotSkinParts2D/*.eps

*kdev*

###Cmake files
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt


## others
*~
