*~

## generic files to ignore
*.lock
*.DS_Store
*.swp
*.out

# Compiled Object files
*.slo
*.lo
*.o
*.obj

## build dirs
doubleTouchMovementPrimitives/selfTouchPositionControlSequences/build*/
doubleTouchMovementPrimitives/selfTouchPositionControlSequences2/build*/
doubleTouchMovementPrimitives/selfTouchRightIndexToLeftForearmPositionControlSequence/build*/

#executables


*kdev*

###Cmake files
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt


## others
*~
